@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ::-webkit-scrollbar {
        @apply w-2  
    }
    
    ::-webkit-scrollbar-track {
        @apply bg-neutral-200

    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-300
    }
    .border-sample{
        @apply border border-neutral-300
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
}