@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	::-webkit-scrollbar {
		@apply w-1.5 ;
	}

    
    
    ::-webkit-scrollbar-thumb {
        @apply hover:bg-[#233044]/25 bg-gray-900/25 rounded-full
    }
    .border-sample{
        @apply border border-neutral-300
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
}
